{{!-- Multi-step navigation buttons --}}
<div class="step-nav">
  <button type="button" id="btn-back" class="btn-secondary hidden">&#8592; Back</button>
  <button type="button" id="btn-next" class="btn-primary">Next &#8594;</button>
  <button type="submit" id="btn-submit" class="hidden">Submit</button>
</div>
